    <div class="comments-container">
      <ul id="comments-list" class="comments-list">
        <li>
          <div class="comment-main-level">
            <div class="comment-box">
              <div class="comment-head">
                <h5 class="comment-name by-author"><strong><%= comment.user.email %></strong></h5>
              </div>
              <div class="comment-content">
                <p> <%= comment.content %></p>
                <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
                <% if user_signed_in? %>
                   <%= form_for [comment, Comment.new] do |f| %>
                    <%= f.text_area :content, placeholder: "Add a reply" %><br/>
                    <%= f.submit "Reply" %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <ul class="comments-list reply-list">
        <div class="comment-box">
          <div class="comment-content">
            <%= render(partial: 'comments/comment', collection: comment.comments) %>
          </div>
        </div>
      </ul>
        </li>
      </ul>
    </div>


