<div class="container">
  <div class="well container-style">
    <div class="media-body">
      <h2> <%= @post.title %> </h2>
      <small><strong>By <%= @post.user.email %></strong></small> <br>
      <p class="content_post"><%= @post.body %></p><br>
    </div>
    <% if current_user%>
      <% if @post.user_id == current_user.id %>
      <span> <%= link_to "Edit ", edit_post_path(@post) %></span>
      <span> <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Really delete the post?"}%></span>
      <% end %>
    <% end %>
    <%= link_to "Back to post list", posts_path, class: "pull-right" %><br>
  </div>
</div>
<div class="container">
  <div class="well container-style">
    <div class="comments-container">
      <h3>Global comments (<%= @post.comments.size %>)</h3>
      <ul>
        <%= render(partial: 'comments/comment', collection: @post.comments)%>
      </ul>
      <% if user_signed_in? %>
        <%= render partial: 'comments/form' %>
      <% else %>
        <p>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          or <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> to comment the post
        </p>
      <% end %>
      <br>
    </div>
  </div>
</div>
